torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tokenizers==0.20.2
tqdm==4.66.6
transformers==4.46.1
editdistance==0.8.1
fonttools==4.54.1
opencv-python==4.11.0.86
packaging==24.1
protobuf==5.28.3
pycocotools==2.0.8
pyparsing==3.2.0
scikit-learn==1.7.0
six==1.16.0





